html 
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Customer-Data-List
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/a076d05399.js')
    link(rel='stylesheet' href='/public/css/list.css')
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

    .container
      a(href='/create')
        button.btn.btn-primary.float-left#create
          i.fas.fa-plus-square
          |  Create
    h4.text-center Client Information

    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.header.actions Actions
          th.header Name
          th.header Number
          th.header Email
      tbody#tableData
        each customer in customers 
          tr
            td
              .edit_bar
                a(href='/deleteCustomer/' + customer._id onclick='return confirm("Are you sure you would like to delete ' + customer.name + '?")')
                  button.trashcan.btn.btn-primary
                    i.fas.fa-trash
                    |  Delete
                a(href='/edit/' + customer._id)
                  button.edit.btn.btn-primary
                    i.fas.fa-edit
                    |  Edit
                a(href='/details/' + customer._id)
                  button.details.btn.btn-primary
                    i.fas.fa-info-circle
                    |  Details
            td= customer.name
            td= customer.number
            td= customer.email
            